<% content_for :head do %>
  <title><%= @team.name%></title>
<% end %>
<% content_for :js_postscript do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#team').dataTable({
        paging: false,
        info: false,
        searching: false,
        "order": [[ 0, "asc" ]]
    } );
  } );
</script>
<% end %>
<ol class="breadcrumb">
  <li><%= link_to @team.division.name, division_path(@team.division) %></li>
  <li class="active"><%= @team.name %></li>
</ol>

<div class="table-responsive">
  <table id="team" class="display compact">
    <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Opponent</th>
      <th class="col-sm-1">GF</th>
      <th class="col-sm-1">GA</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: "game", collection: @team.games %>
    </tbody>
  </table>
</div>
<div class="footer" id="footer">
  <p><a href='http://leag1.com/Results.asp?MyTeam=<%=@team.cms_code%>&org=youthlaxmn.org'>YLM site for <%= @team.name %></a></p>
  <p><%= display_datetime(@team.updated_at) %></p>  
</div>

