<tr>
  <td><%= organization.name %></td>
  <td><%= organization.teams_count %></td>
  <td><%= organization.games_count %></td>
  <td><%= organization.wins %></td>
  <td><%= organization.avg %></td>
</tr>
