<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--<base target="_self">--><base href="." target="_self">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://www.codeply.com/images/cp_ico.png">

  <!--stylesheets / link tags loaded here-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.css"/>
 
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        ☰
    </button>
    <a class="navbar-brand" href="/">LAX Relative Power Index</a>
    <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown nav-item active">
          <a id="drop_season" href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= @season.name %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop_season">
            <%= render partial: "season", collection: @seasons %>
          </ul>
        </li>
            <li class="dropdown nav-item">
                          <a id="drop_division" href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= @division.name %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop_division">
<%= render partial: "division", collection: @season.divisions %>
          </ul>
        </li>
            <li class="nav-item">
                <a class="navbar-brand" href="/faq">F.A.Q.</a>
            </li>
        </ul>
    </div>
</nav>       
<div class="container">
  <%= yield %>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.js"></script>
  <script>
  $(document).ready(function() {
    $('[data-toggle=offcanvas]').click(function() {
        $('.row-offcanvas').toggleClass('active');
    });  
    });
  </script>
<%= yield :js_postscript %>
</body>
</html>